tr{

    border: 3px black double;

    }

th{

    border: 3px black double;

    }

boby{
	background-color: gray;
    }
	
	table{
	background-color: white;
    }
	
td{

      border: 3px black double;

  }
	
thead{

    border: 5px black double;

    }
	
a:hover
{
	color:red
}	
	
tbody{

    border: 3px black double;

    }	